* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(17, 26, 33, 0.87);
    
}

.profiles-card {
    background:linear-gradient(135deg ,#0849d6 30% ,#0686e1 80%);
    position:absolute;  
    display: flex;
    border-radius: 30px;
    /* max-width: 50em; */
    top: 3cm;
    flex-wrap: wrap;
    align-items: center;
    width: 9cm;
    height: 8cm;
    /* color: #ffffff; */
    /* height: 10em; */
    bottom: 30px 20px;
    margin: -30px;
    /* padding-bottom: 20px; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 40px -1px rgba(7, 11, 244, 0.856);
    transition: all 0.07s ease-in-out;
}
img {
    position: absolute;
    display: flex;
    /* margin-top: -30px; */
    /* right: 300px; */
    /* padding: 50px; */
    /* background-color: rgb(16, 16, 16); */
    margin: -10%;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 2px solid rgb(249, 253, 253);
    width: 5em;
    height: 6em;
    top: 15%;
    bottom: 5%;
    overflow: hidden;
    /* gap:calc(20px); */
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 20px -1px rgb(5, 228, 240);
    transition: all 0.05s ease-in-out;
}
.profiles-card img {
    display: flex;
    object-fit: cover;
}
.profiles-card img:hover {
    cursor: pointer;
    /* transform:translateY(-6px); */
    transform: scale(1.1);
}
 h2 {
    position: absolute;
    display: flex;
    font-family:'Times New Roman', Times, serif ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 4.50em;
    font-size: 30px;
    background: radial-gradient(135deg ,#0849d6 30% ,#0686e1 100%);
    margin-left: 1%;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px  6px -2px rgba(19, 101, 159, 0.5);
    /* box-shadow: 0 6px 20px -1px rgb(5, 228, 240); */
}
.profiles-card h2 {
    display: flex;
    /* box-shadow: 0 6px 20px -1px rgb(5, 228, 240); */
    text-shadow: #0a2ce9;
}
 a {
    /* position:relative; */
    display: flex;
    text-decoration: none;
    /* justify-content: center; */
    align-items: center;
    padding: 7px;
    margin-top: 10em;
    

    /* Smooth Animation BTN*/
    
 }
  .profiles-card a :hover {
    transform: translateY(-15%)
 }
 .profiles-card i {
    /* display:flex; */
    background-color: rgb(216, 220, 232);
    width: 4em;
    border-radius: 10px 20px 5px;
    padding: 10px;
    /* margin: 1em; */
    box-shadow: 0 6px 8px -1px rgb(0, 152, 240);
    color: aliceblue;
     transition: all 0.12s cubic-bezier(0.65, -0.55, 0.225, 1.55);
 }
 p {
    position: absolute;
    top: 58%;
    font-size: 13px;
    /* display: flex; */
 }
 .tooltip {
    position: absolute;
    top: -45px;
    opacity: 0;
    /* visibility: hidden; */
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    pointer-events: none;
 }
 /* Tooltip Little Arrow */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
}
/* Hover Animations */
.icon:hover .tooltip {
    display: flex;
    opacity: 50px;
    visibility: visible;
    top: -50px;
}
.icon_facebook :hover{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    box-shadow: 0 5px 7px -1px rgb(1, 226, 246);
}
.icon_facebook i {
    /* position: absolute; */
    color: #0a2ce9;
    /* background-color: aliceblue; */
}
.icon_facebook i:hover {
    /* position: absolute; */
    color: #062ce9;
    /* background-color: aliceblue; */
}
.icon_telegram :hover{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    box-shadow: 0 5px 7px -1px rgb(1, 226, 246);
}
.icon_telegram i {
    color: rgb(6, 155, 248);
}
.icon_telegram i :hover {
    color: rgb(6, 155, 248);
}
.icon_tiktok :hover{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    box-shadow: 0 5px 7px -1px rgb(1, 226, 246);
    /* opacity: 1; */
}
.icon_tiktok i{
    color: black;
}
.icon_instagram :hover{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    box-shadow: 0 5px 7px -1px rgb(1, 226, 246);
}
.icon_instagram i {
   color: #d60857;
}
.icon_instagram i:hover {
   color: #d608aa;
}
.btn-container {
    position: absolute;
    /* display: flex; */
    top: 10em;
    text-decoration: none;
    list-style: none;

}
.btn-join li {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.btn-container {
    display: flex;
    top: 100px;

}
.btn-container button {
    margin: 5px;

}
.btn-container a {
    display: contents;
    padding: 0.10px 0.20px;
    margin-top: 1%;
    padding-top: 10px;
    /* background-color: black; */

}
.icon_github i {
    position: absolute;
    display: flex;

}



