 
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

     /* Reset default margins and paddings */
 body {
      display: block;
      /* backdrop-filter: blur(10px); */
      text-align: center;
      text-shadow: 12px #1e1b4b;
      align-content: center;
      overflow: scroll;
    }

    /* Fixed full-screen canvas layer acting as the background */
    #wallpaper-canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1; /* Keep behind webpage content */
      background: linear-gradient(135deg, #14203a, #1e1b4b); /* Dark gradient fallback */
    }

    /* Example overlay content title area */
    .content-title {
      /* backdrop-filter: blur(10px); */
      /* position:relative ; */
      flex-wrap: wrap;
      display:flex ;
      /* flex-direction:row ; */
      justify-content: center;
      align-items: center;     
     /* background-color: aqua; */
     /* background-size: 20px; */
      color: #f2eaea;
      font-family: system-ui, -apple-system, sans-serif;
      margin: 16px;
      padding: 2px ;
    }

     h1 {
      position: relative;
      backdrop-filter: blur(5px);
      display: flex;
      flex-wrap: wrap;
      font-size: 3rem;
      justify-content: center;
      text-align: center;
      text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      background-color: #7a91a36a;
      /* height: 5cm; */
      border-radius: 20px;
      margin: 20px ;
      padding: 60px;
    }
    .content-subtitle p {
      position: relative ;  
      flex-wrap: wrap;
      /* display: flex ; */
      font-size: 1.2rem;
      color: #94a3b8;
      margin: -5px;
    }

    /* Content subtitle style*/
    .content-subtitle {
      display: flex;
      font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
      font-size: 35px;
      color: #fdfeff;
      text-align: center;
      text-shadow: 0 4px 6px rgba(13, 30, 40, 0.539);
      padding: 1em;
      flex-direction:column;
      justify-content: center;
      margin: 2em;
      /* background-color: #225d8d; */
    }
      /* cation styling */
    .cation {
      /* background-image: linear-gradient('https://cdn.phototourl.com/free/2026-08-10-3a17bb37-3936-475b-8122-7cf831015bb5.jpg'); */
      background: rgba(49, 91, 119, 0.438);
      backdrop-filter: blur(10px); /* Blurs background behind box */
      text-align: center;
      padding: 40px;
      border-radius: 12px;
      border: 2px solid rgba(25, 78, 158, 0.1);
      font-family: 'Kh Writhand', Times, serif;
      font-display:block;
      font-weight: 500;
      font-size: 20px;
      text-decoration:solid;
      color: #ededee;
      box-sizing: border-box;
      margin: 120px;
      box-shadow:  0 5px  6px -2px rgba(0, 0, 0, 0.5);
      text-shadow: 0 2px 6px -2 rgba(132, 35, 177, 0.5);
      cursor: pointer;

    }

    .cation:hover {
      text-shadow: 0 4px 6px -1 rgba(10, 56, 90, 0.5);
      color: #225d8d;
    }
    
    /* join btn styling*/
    .join-btn-title {
      display:flex;
      align-content: center;
      justify-content: center; /* Horizontally left */
      text-decoration: none; /* Remove underline from line */
      text-align:justify;
      text-shadow:  0 8px 5px  rgba(0, 0, 0, 0.708);
      background-color: rgba(14, 184, 240, 0.89);
      background-size: 10em;
      backdrop-filter: blur(6px);
      padding: 32px; 
      padding-bottom: 1em -2em;
      /* border: 1px solid #406591ae; */
      border-radius: 20px ;
      cursor:pointer;
      font-size: 25px;
      font-weight: 1em;
      font-style: normal;
      font-display: auto;
      color: #ededee;
      font-family:'Times New Roman', Times, serif;
      margin-top: -25px;
      /* gap: 15px; */
      margin: -1cm ;
      margin-top: 1.60cm;
      gap: calc(25px); 
      flex-wrap:wrap;
      text-shadow: 0 4px  6px -2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px  5px -1px rgba(0, 0, 0, 0.787);
      /* transform: translateY(-1px); */
                  /* inset 0 5px -6px -1px rgba(10, 56, 90, 0.5); */

        /* Smooth Hover Animation */ 
      transition: all 0.06s ease-in-out;
    }
      /* Hover State */
    .join-btn-title:hover{
      background-color: rgba(13, 113, 220, 0.89); /* Darker blue on hover*/
      transform: translateY(-10px); /* sligth lift effect */
      box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.5);
    }
    .join-btn-title:hover::after {
      animation:alternate .8s;
    }
 
     
    /* Active state (When clicked) */
    .join-btn-title:active{
      transform: translateY(0);
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.5);
    }

      /* join-btn styling  */
    .join-btn {
      display: block;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(4px);
      background-color: #22bab592;
      /* background: #6a66a3; */
      background-size: 12px;
      padding: 10em;
      /* text-shadow: 0 5px -6px -2px  solid #09101f; */
      /* border: 20px solid #148e32; */
      flex-wrap: wrap;
      border-radius: 30px;
      box-shadow: 0 5px 6px -2px  rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(-12px);
      margin: 120px;
      padding-bottom: 20px 10px;
      transform: translateY(-1px);
      /* margin-bottom: 10em; */
    } 

    img {
      display: inline-flex;
      height: 9rem;
      width: 6rem;
      /* padding: -20px; */
      justify-content: center;
      margin: 15px 20px;
      margin-top: 1px;
      margin-left: -2px;
      border-radius: 30px;
      border: 4px #364d7fdd solid;
      backdrop-filter: blur(5px, 3px);
    }
    @media screen and (max-width : 768px) {
      .join-btn-title {
        grid-template-columns: repeat(2, 1fr);
      } 
    }
    .join-btn i {
      /* display: flex; */
      top: 10px;
    }

 /* join btn styling*/
    .btn-Facebook {
      position: relative;
      display:flex;
      align-content: center;
      justify-content: center; /* Horizontally left */
      text-decoration: none; /* Remove underline from line */
      text-align:justify;
      text-shadow:  0 8px 5px  rgba(0, 0, 0, 0.708);
      background-color: rgba(14, 71, 213, 0.974);
      background-size: 10em;
      backdrop-filter: blur(6px);
      padding: 32px; 
      padding-bottom: 1em -2em;
      /* border: 1px solid #406591ae; */
      border-radius: 20px ;
      cursor:pointer;
      font-size: 25px;
      font-weight: 1em;
      font-style: normal;
      font-display: auto;
      color: #ededee;
      font-family:'Times New Roman', Times, serif;
      margin-top: -25px;
      /* gap: 15px; */
      margin: -1cm ;
      margin-top: 1.60cm;
      gap: calc(25px); 
      flex-wrap:wrap;
      text-shadow: 0 4px  6px -2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px  5px -1px rgba(0, 0, 0, 0.787);
      /* transform: translateY(-1px); */
                  /* inset 0 5px -6px -1px rgba(10, 56, 90, 0.5); */

        /* Smooth Hover Animation */ 
      transition: all 0.06s ease-in-out;
    }
      /* Hover State */
    .btn-Facebook:hover{
      background-color:#1024c0bb; /* Darker blue on hover*/
      transform: translateY(-10px); /* sligth lift effect */
      box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.5);
      position: 0.4s;
      z-index: -1;
    }
    .btn-Facebook:hover::after {
      animation:alternate .8s;
    }
 
     
    /* Active state (When clicked) */
    .btn-Facebook:active{
      transform: translateY(0);
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.5);
    }
    /* join btn styling*/
    .btn-TikTok {
      display:flex;
      align-content: center;
      justify-content: center; /* Horizontally left */
      text-decoration: none; /* Remove underline from line */
      text-align:justify;
      text-shadow:  0 8px 5px  rgba(0, 0, 0, 0.708);
      background-color: rgba(9, 14, 28, 0.974);
      background-size: 10em;
      backdrop-filter: blur(6px);
      padding: 32px; 
      padding-bottom: 1em -2em;
      /* border: 1px solid #406591ae; */
      border-radius: 20px ;
      cursor:pointer;
      font-size: 25px;
      font-weight: 1em;
      font-style: normal;
      font-display: auto;
      color: #ededee;
      font-family:'Times New Roman', Times, serif;
      margin-top: -25px;
      /* gap: 15px; */
      margin: -1cm ;
      margin-top: 1.60cm;
      gap: calc(25px); 
      flex-wrap:wrap;
      text-shadow: 0 4px  6px -2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px  5px -1px rgba(0, 0, 0, 0.787);
      /* transform: translateY(-1px); */
                  /* inset 0 5px -6px -1px rgba(10, 56, 90, 0.5); */

        /* Smooth Hover Animation */ 
      transition: all 0.06s ease-in-out;
    }
      /* Hover State */
    .btn-TikTok:hover{
      background-color:#1e245fbb; /* Darker blue on hover*/
      transform: translateY(-10px); /* sligth lift effect */
      box-shadow: 0 6px 7px -1px rgba(120, 116, 116, 0.5);
    }
    .btn-TikTok:hover::after {
      animation:alternate .8s;
    }
 
     
    /* Active state (When clicked) */
    .btn-Facebook:active{
      transform: translateY(0);
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.5);
    }
    /* join btn styling*/
    .btn-Instagram {
      display:flex;
      align-content: center;
      justify-content: center; /* Horizontally left */
      text-decoration: none; /* Remove underline from line */
      text-align:justify;
      text-shadow:  0 8px 5px  rgba(0, 0, 0, 0.708);
      background: radial-gradient(circle, #e41518cf 88% );
      background-size: 10em;
      backdrop-filter: blur(6px);
      padding: 32px; 
      padding-bottom: 1em -2em;
      /* border: 1px solid #406591ae; */
      border-radius: 20px ;
      cursor:pointer;
      font-size: 25px;
      font-weight: 1em;
      font-style: normal;
      font-display: auto;
      color: #ededee;
      font-family:'Times New Roman', Times, serif;
      margin-top: -25px;
      /* gap: 15px; */
      margin: -1cm ;
      margin-top: 1.60cm;
      gap: calc(25px); 
      flex-wrap:wrap;
      text-shadow: 0 4px  6px -2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px  5px -1px rgba(0, 0, 0, 0.787);
      /* transform: translateY(-1px); */
                  /* inset 0 5px -6px -1px rgba(10, 56, 90, 0.5); */

        /* Smooth Hover Animation */ 
      transition: all 0.06s ease-in-out;
    }
      /* Hover State */
    .btn-Instagram:hover{
      background: radial-gradient(circle, #350708cf 0%, #460b43 100% , #50310b 50%); /* Gradient color Hover Bottun */ 
      transform: translateY(-10px); /* sligth lift effect */
      box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.5);
    }
    .alert{
      color: #b7bcc7;
    }
    .deverloper-hour {
      display: flex;
      background-color: #94a3b8;
      /* margin-top: 12% 30px; */
      justify-content: left;
      /* top: 20px 50px; */
      margin-bottom: -10%;
      
      /* align-items:center ; */
      /* margin-bottom: 20%; */
    }
        /* join btn styling*/
    .btn-download {
      display:flex;
      align-content: center;
      justify-content: center; /* Horizontally left */
      text-decoration: none; /* Remove underline from line */
      text-align:justify;
      text-shadow:  0 8px 5px  rgba(0, 0, 0, 0.708);
      background-color: rgba(75, 96, 216, 0.974);
      background-size: 10em;
      backdrop-filter: blur(6px);
      padding: 32px; 
      padding-bottom: 1em -2em;
      /* border: 1px solid #406591ae; */
      border-radius: 20px ;
      cursor:pointer;
      font-size: 25px;
      font-weight: 1em;
      font-style: normal;
      font-display: auto;
      color: #ededee;
      font-family:'Times New Roman', Times, serif;
      margin-top: -25px;
      /* gap: 15px; */
      margin: -1cm ;
      margin-top: 1.60cm;
      gap: calc(25px); 
      flex-wrap:wrap;
      text-shadow: 0 4px  6px -2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px  6px -1px rgba(12, 12, 12, 0.787);
      /* transform: translateY(-1px); */
                  /* inset 0 5px -6px -1px rgba(10, 56, 90, 0.5); */

        /* Smooth Hover Animation */ 
      transition: all 0.06s ease-in-out;
    }

      /* Hover State */
    .btn-download:hover{
      background-color:#048eebed; /* Darker blue on hover*/
      transform: translateY(-10px); /* sligth lift effect */
      box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.705);
    }
    .btn-download:hover::after {
      animation:alternate .8s;
    }
 
     
    /* Active state (When clicked) */
    .btn-download:active{
      transform: translateY(0);
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.5);
    }